@keyframes a--header {
	0%{color: black;}
	5%{color: red;}
	30%{color: red;}
	35%{color: black;}
	40%{color: black;}
	45%{color: green;}
	50%{color: black;}
	75%{color: black;}
	79%{color: blue;}
	83%{color: black;}
	87%{color: aqua;}
	91%{color: black;}
	95%{color: purple;}
	100%{color: black;}
}
@keyframes h--header {
	0%{color: black;}
	5%{color: black;}
	10%{color: orange;}
	25%{color: orange;}
	30%{color: black;}
	40%{color: black;}
	50%{color: black;}
	55%{color: green;}
	60%{color: black;}
	75%{color: black;}
	79%{color: blue;}
	83%{color: black;}
	87%{color: aqua;}
	91%{color: black;}
	95%{color: purple;}
	100%{color: black;}
}
@keyframes s--header {
	0%{color: black;}
	10%{color: black;}
	15%{color: yellow;}
	20%{color: yellow;}
	25%{color: black;}
	40%{color: black;}
	60%{color: black;}
	65%{color: green;}
	70%{color: black;}
	75%{color: black;}
	79%{color: blue;}
	83%{color: black;}
	87%{color: aqua;}
	91%{color: black;}
	95%{color: purple;}
	100%{color: black;}
}





header {
 background-color: black;
 width: 100%;
 height: 100px;
 border-bottom: grey solid 10px;
}
p {
	margin: 0;
	position: relative;
	top: 15px;
	text-align: center;
	font-weight: bolder;
}
header span {
	color: black;
	margin-right:70px;
	font-size: 60px;
	display: inline-block;
}
.a-header{animation: a--header 10s infinite;}
.h-header{animation: h--header 10s infinite;}
.s-header{animation: s--header 10s infinite;}


@media (max-width: 720px) {
	header span {margin-right: 30px;}
}